<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<context-param>
<param-name>UPLOAD_PLOC</param-name>
<param-value>E:/store/photo/</param-value>
</context-param>
<context-param>
<param-name>UPLOAD_PLOC_CIVIL</param-name>
<param-value>E:/store/photo/civil/</param-value>
</context-param>
<context-param>
<param-name>UPLOAD_PLOC_CSE</param-name>
<param-value>E:/store/photo/cse/</param-value>
</context-param>
<context-param>
<param-name>UPLOAD_PLOC_ECE</param-name>
<param-value>E:/store/photo/ece/</param-value>
</context-param>
<context-param>
<param-name>UPLOAD_PLOC_ELE</param-name>
<param-value>E:/store/photo/ele/</param-value>
</context-param>
<context-param>
<param-name>UPLOAD_PLOC_MBA</param-name>
<param-value>E:/store/photo/mba/</param-value>
</context-param>
<context-param>
<param-name>UPLOAD_PLOC_MECH</param-name>
<param-value>E:/store/photo/mech/</param-value>
</context-param>

<welcome-file-list>
<welcome-file> Home.html</welcome-file>
</welcome-file-list>
</web-app>

